---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 16px/1.5 $helvetica;
  color: $black;
  font-weight: lighter;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helvetica;
  color: $black;
  font-weight: lighter;

  line-height: 1.0;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.0;
  }
}

h1 {
  font-size: 28px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 26px;
color: $black;
}

h3 {
  font-size: 22px;
  color: $sienna;
}

h4 {
  font-size: 18px;
  color: $black;
}

h5 {
	font-size:18px;
	color: $sienna;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: crosshair;
  &:hover, &:active {
    color: $green;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $sienna;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGreen;
}
::selection {
  color: $black;
  background: $lightGreen;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 30px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGreen;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 180px;
  height: 180px;
  margin-right: 15px;
  margin-top: 60px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;
  margin-top: 64px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $black;
  cursor: crosshair;
  font-family: $helvetica;
  font-weight: lighter;
  font-size: 38px;
  letter-spacing: 1px;
}

.site-description {
  margin-top: 1;
  color: $green;
  font-weight: lighter;
  font-size: 20px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: left;
  margin-top: 54px;
  font-family: $helvetica;
  font-size: 14px;
  font-weight: lighter;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-right: 32px;
    color: $blue;
    text-align: left;
    font-weight: lighter;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGreen;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 60px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGreen;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Import of syntax highlighting
@import "highlights";
@import "svg-icons";
