
//
// VARIABLES
//

// Colors
$green: #00552a;
$blue: #35a39b;
$lightGreen: #c8f7c5;
$sienna: #634806;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');
$montserrat: Montserrat, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
