
//
// VARIABLES
//

// Colors
$green: #34ad13;
$darkCadetBlue: #1F3a93;
$cadetBlue: #3a539b;
$lightCadetBlue: #34515e;
$sienna: #554800;
$darkOrange: #634806;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');
$montserrat: Montserrat, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
