
//
// VARIABLES
//

// Colors
$green: #1e6d12;
$blue: #7366a0;
$lightGreen: #d4d0ab;
$sienna: #9a5400;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');
$montserrat: Montserrat, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
